<a href="https://colab.research.google.com/github/jibrinkure/jibrinkure/blob/main/my_new_note_book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# my-new-note-book
First Data Analysis on line
World Crime Index 2022 Mid-Year

1. People in some countries are much more likely to report a crime than in others.
2. Data could be forged by government institutions.
3. Data is not available for most of the world.

Using the data available, we would see possibly:

i. What countries people likely do not report crime,
ii. What countries could government institutions likely forge data, positively or negatively and,
iii. What data do not make available their data.

Use the "Run" button to execute the code.

In [1]:
import pandas as pd

In [2]:
pip install opendatasets --upgrade --quiet

In [4]:
import opendatasets as od

download_url = 'https://www.kaggle.com/datasets/ahmadjalalmasood123/world-crime-index'

od.download(download_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: jibrinkure
Your Kaggle Key: ··········
Downloading world-crime-index.zip to ./world-crime-index

100%|██████████| 7.80k/7.80k [00:00<00:00, 3.52MB/s]

In [5]:
df = './world-crime-index//content/world-crime-index'

## Data Preparation and Cleaning



*   Load the file using Pandas
*   Look at some information about the data & columns
*   Fix any missing or incorrect values

In [6]:
import pandas as pd

In [8]:
df = pd.read_csv('/content/world-crime-index/World Crime Index .csv')

In [9]:
df

     Rank                             City  Crime Index  Safety Index
0       1               Caracas, Venezuela        83.98         16.02
1       2           Pretoria, South Africa        81.98         18.02
2       3                   Celaya, Mexico        81.80         18.20
3       4         San Pedro Sula, Honduras        80.87         19.13
4       5   Port Moresby, Papua New Guinea        80.71         19.29
..    ...                              ...          ...           ...
448   449              Quebec City, Canada        15.14         84.86
449   450                   Taipei, Taiwan        15.05         84.95
450   451             San Sebastian, Spain        14.86         85.14
451   452                      Doha, Qatar        13.96         86.04
452   453  Abu Dhabi, United Arab Emirates        11.67         88.33

[453 rows x 4 columns]